extends layout
block links
    //- link(rel='stylesheet', href='public/index/stylesheets/metro.css')
    link(rel='stylesheet', href='public/event/stylesheets/event.css')
    link(rel='stylesheet', href='sea-modules/gallery/bootstrap/3.0.0/bootstrap.css')

block content
    div(class='event_flow')
        div(id='ctrl_btn',class="ctrl_btns")
            div.btn-group
                div.dropdown
                    a(class="btn btn-default dropdown-toggle",data-toggle="dropdown") EventFlow
                        span(class="caret")
                    ul(class="dropdown-menu")
                        li
                            a(class="trigger right-caret") HomeTeam
                            ul(class="dropdown-menu sub-menu")
                                li
                                    a(href="#") LaMarcus Aldridge
                                li
                                    a(href="#") Robin Lopez
                                li
                                    a(href="#") Nicolas Batum
                                li
                                    a(href="#") Damian Lillard
                                li
                                    a(href="#") Wesley Matthews
                        li
                            a(class="trigger right-caret") AwayTeam
                            ul(class="dropdown-menu sub-menu")
                                li
                                    a(href="#") Dirk Nowitzki
                                li
                                    a(href="#") DeJuan Blair
                                li
                                    a(href="#") Monta Ellis
                                li
                                    a(href="#") Jose Calderon
                                li
                                    a(href="#") Shawn Marion
            div.btn-group
                div.btn-group
                    button(class="btn btn-default dropdown-toggle",type="button", id="Court" data-toggle="dropdown") Court
                        span(class="caret")
                    ul(class="dropdown-menu" role="menu",aria-labelledby="Court")
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Made Shot
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Missed Shot
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Made Free Throw
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Missed Free Throw
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Defensive Rebound
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Offensive Rebound
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Block
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Foul
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Steal
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") Turnover
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") FastBeak
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") WiningGoal
                        li(role="presentation")
                            a(role="menuitem" tabindex="-1" href="#") 3PonitsPlay
            div.btn-group
                div.dropdown
                    a(class="btn btn-default dropdown-toggle",data-toggle="dropdown") Analysis
                        span(class="caret")
                    ul(class="dropdown-menu")
                        li
                            a(class="trigger right-caret") Team
                            ul(class="dropdown-menu sub-menu")
                                li
                                    a(class="trigger right-caret") HomeTeam
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") DRB
                                        li
                                            a(href="#") EFG
                                        li
                                            a(href="#") FTR
                                        li
                                            a(href="#") ORB
                                        li
                                            a(href="#") TOV
                                li
                                    a(class="trigger right-caret") AwayTeam
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") DRB
                                        li
                                            a(href="#") EFG
                                        li
                                            a(href="#") FTR
                                        li
                                            a(href="#") ORB
                                        li
                                            a(href="#") TOV
                        li
                            a(class="trigger right-caret") Players
                            ul(class="dropdown-menu sub-menu")
                                li
                                    a(class="trigger right-caret") LaMarcus Aldridge
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Robin Lopez
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Nicolas Batum
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Damian Lillard
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Wesley Matthews
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Dirk Nowitzki
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") DeJuan Blair
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Monta Ellis
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Jose Calderon
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
                                li
                                    a(class="trigger right-caret") Shawn Marion
                                    ul(class="dropdown-menu sub-menu")
                                        li
                                            a(href="#") Points Created
                                        li
                                            a(href="#") Nicolas Batum
                                        li
                                            a(href="#") Damian Lillard
            div.btn-group
                div.btn-group
                    button(class="btn btn-default") StartTime
                    input
                div.btn-group
                    button(class="btn btn-default") EndTime
                    input



        div(id='map',class='left')
        div(id='charts',class='right')
            div(id='chart',class='north')
            div(id='lineChart',class='south')


block scriptsEnd
    script(type="text/javascript", src="/dev/echarts/echarts-plain-original.js")
    script.
        var game_data,
              ratio,
              D3;
        seajs.config({
            alias: {
                'jquery': '/sea-modules/jquery/jquery/2.1.0/jquery',
                'index': '/public/index/javascripts/index',
                'court': '/dev/components/court/src/court',
                "Zone14": '/dev/components/court/src/Zone14',
                'half_court': '/dev/components/court/src/half_court',
                'd3': '/sea-modules/gallery/d3/3.4.3/d3',
                'json2echart_data': '/dev/components/json2echart_data/src/json2echart_data',
                'highcharts':'/sea-modules/alinw/highcharts/3.0.8/highcharts-debug.js',
                'bootstrapjs':'/sea-modules/gallery/bootstrap/3.0.0/bootstrap-debug.js'
            }
        })

        seajs.use(['jquery', 'court', 'd3', 'Zone14', 'half_court', 'json2echart_data','highcharts','bootstrapjs'],
            function($, VORPED, d3, Zone14, half_court, json2echart_data,highcharts) {

                $(function(){
                    $(".dropdown-menu > li > a.trigger").on("click",function(e){
                        var current=$(this).next();
                        var grandparent=$(this).parent().parent();
                        if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
                            $(this).toggleClass('right-caret left-caret');
                        grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                        grandparent.find(".sub-menu:visible").not(current).hide();
                        current.toggle();
                        e.stopPropagation();
                    });
                    $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
                        var root=$(this).closest('.dropdown');
                        root.find('.left-caret').toggleClass('right-caret left-caret');
                        root.find('.sub-menu:visible').hide();
                    });
                });
                var courtWidth = $(".right").width();
                ratio = courtWidth / 1140;
                D3 = d3;
                var courtObj = new VORPED.court(ratio);
                var court = courtObj.draw('court', '');
                d3.select("svg").attr("style", "background-color: white");

                //- $.getJSON('/public/data/POR_DAL_location.json', function( data){
                $.getJSON('/public/data/11-1.json', function( data){
                    console.log(data);
                    game_data = new json2echart_data( data).getData();
                    console.log( game_data );
                    game_data = game_data["@filter"]["@2pts"];
                    var height = $('#map')[0].scrollHeight;
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                            },
                            formatter: function(params) {
                                var param = params[0][2];
                                var result = "";
                                for (key in param) {
                                    if( key === "location"){
                                        result += key + " : {x:" + param[key]["@coord_x"] +",y:"+ param[key]["@coord_y"]+"}"+
                                            "<br/>";
                                    }else{
                                        result += key + " : " + param[key] +
                                            "<br/>";
                                    }
                                }
                                return result;
                            }
                        },
                        legend: {
                            x: 'left',
                            y: height * 0.85,
                            data: game_data["@events"]
                        },
                        grid: {
                            height: height * 0.72
                        },
                        dataZoom: {
                            show: true,
                            realtime: true,
                            orient: 'verical',
                            x: 10,
                            width: 20,
                            height: height * 0.72,
                            zommlock: false,
                            start: 0,
                            end: 8
                        },
                        calculable: true,
                        xAxis: [{
                            type: 'value'
                        }],
                        yAxis: [{
                            type: 'category',
                            data: game_data["@category"]
                        }],
                        series: game_data["@value"]
                    };

                    init_echarts('map', option);

                    //team DAL analysis  PTS PerPoss
                    $('#lineChart').highcharts({
                        title: {
                            text: 'Team Analysis',
                            x: -20 //center
                        },
                        xAxis: {
                            type:'datetime'
                        },
                        yAxis: {
                            title: {text:'PTS PerPoss'},
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            formatter: function(data){
                                console.log(data);
                                console.log(this);
                                return (new Date(this.x)).toLocaleDateString("en-US",{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) +"<br/>" +data.chart.yAxis[0].options.title.text+": "+ this.y;
                                //- return data;
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'DAL',
                            data: [
                                [Date.UTC(2013,11,4),0.973],
                                [Date.UTC(2013,11,5),1.056],
                                [Date.UTC(2013,11,8),1.115],
                                [Date.UTC(2013,11,10), 0.875],
                                [Date.UTC(2013,11,12), 0.957]
                            ]
                        }
                        , {
                            name: 'POR',
                            data: [
                                [Date.UTC(2013,11,5), 1.105],
                                [Date.UTC(2013,11,7), 1.333],
                                [Date.UTC(2013,11,8),1.978],
                                [Date.UTC(2013,11,10), 1.119],
                                [Date.UTC(2013,11,13), 1.097]
                            ]
                        }
                        ]
                    });

                     //team DAL analysis  efg
                    //- $('#lineChart').highcharts({
                    //-     title: {
                    //-         text: 'Team Analysis',
                    //-         x: -20 //center
                    //-     },
                    //-     xAxis: {
                    //-         type:'datetime'
                    //-     },
                    //-     yAxis: {
                    //-         title: {text:'EFG'},
                    //-         plotLines: [{
                    //-             value: 0,
                    //-             width: 1,
                    //-             color: '#808080'
                    //-         }]
                    //-     },
                    //-     //- tooltip: {
                    //-     //-     formatter: function(data){
                    //-     //-         console.log(data);
                    //-     //-         return data;
                    //-     //-     }
                    //-     //- },
                    //-     legend: {
                    //-         layout: 'vertical',
                    //-         align: 'right',
                    //-         verticalAlign: 'middle',
                    //-         borderWidth: 0
                    //-     },
                    //-     series: [{
                    //-         name: 'DAL',
                    //-         data: [
                    //-             [Date.UTC(2013,11,4),0.451],
                    //-             [Date.UTC(2013,11,5),1.056],
                    //-             [Date.UTC(2013,11,8),1.115],
                    //-             [Date.UTC(2013,11,10), 0.875],
                    //-             [Date.UTC(2013,11,12), 0.957]
                    //-         ]
                    //-     }
                    //-     , {
                    //-         name: 'POR',
                    //-         data: [
                    //-             [Date.UTC(2013,11,5), 1.105],
                    //-             [Date.UTC(2013,11,7), 1.333],
                    //-             [Date.UTC(2013,11,8),1.978],
                    //-             [Date.UTC(2013,11,10), 1.119],
                    //-             [Date.UTC(2013,11,13), 1.097]
                    //-         ]
                    //-     }
                    //-     ]
                    //- });


                    //player analysis


                    //- for( var i = 0, l = game_data["@possessions"].length; i < l; i++){
                    //-     var possession = game_data["@possessions"][i];
                    //scourt = draw(court, game_data["@fastBreak"][1]);
                        //- court = draw(court, possession);
                    //- }
                });
            })

        function init_echarts(echartsId, option) {
            var map = document.getElementById(echartsId);

            var myChart = echarts.init(map);
            myChart.setOption(option);
        }

        function draw( court, possession){
            for( var i = 0, l = possession.data.length; i < l; i++){
                var item = possession.data[i];
                drawGraph( court, item);
                if( i > 0 && item.location ){
                    for( var j = i-1; j >= 0; j--){
                        if( possession.data[j].location){
                            drawLine( court, possession.data[j], item);
                            break;
                        }
                    }
                }
            }
            return court;
        }

        function drawLine( court, item1, item2){
            //- if( item1.location&&item2.location){
                var r = 14;
                var x1 = 0.05*(+item2.location["@coord_x"]) +0.95*(+item1.location["@coord_x"]),
                      y1 = 0.05*(+item2.location["@coord_y"]) +0.95*(+item1.location["@coord_y"]),
                      x2 = 0.95*(+item2.location["@coord_x"]) +0.05*(+item1.location["@coord_x"]),
                      y2 = 0.95*(+item2.location["@coord_y"]) +0.05*(+item1.location["@coord_y"]);
                var alpha = ( (+item2.location["@coord_y"]) - (+item1.location["@coord_y"]) ) / ( (+item2.location["@coord_x"]) - (+item1.location["@coord_x"]));
                var config = {};
                config = {type:'path',attrs:{'d':'M '+x1*ratio+' '+y1*ratio+' L '+x2*ratio+' '+y2*ratio,'stroke':'rgb(124,181,236)','fill':'rgb(124,181,236)','stroke-width':3*ratio}};
                court.append(config.type).attr(config.attrs);
                config = {type:'path',attrs:{'d':'M '+(x2 - r*(0.867*Math.cos(alpha)+0.5*Math.sin(alpha)))*ratio+' '+(y2 +r*(0.5*Math.cos(alpha)-0.867*Math.sin(alpha) ) )*ratio+' L '+x2*ratio+' '+y2*ratio+' L '+(x2-r*(0.867*Math.cos(alpha)-0.867*Math.sin(alpha)))*ratio+' '+(y2-r*(0.5*Math.cos(alpha)+0.867*Math.sin(alpha)))*ratio+' ','stroke':'rgb(124,181,236)','fill':'rgb(124,181,236)','stroke-width':3*ratio}};
                court.append(config.type).attr(config.attrs);
            //- }
            //- return;
        }


        function drawGraph( court, item){
            var key = item.name;
            var config = {};
            var r = 7;
            switch( key){
                //- case "Drive" :
                    //- config = {type:'circle',attrs{'cx':item.location["@coord_x"]*ratio,'cy':300*ratio,'r':72*ratio,'stroke':'#ccc','fill':'#fff','stroke-width':3*ratio}};
                    //- court.append(config.type).attr(config.attrs);
                    //- break;
                case "Block" :
                    config = {type:'path',attrs:{'d':'M '+(+(item.location["@coord_x"])-0.5*r)*ratio+' '+(+(item.location["@coord_y"])-0.5*r)*ratio+' L '+(+(item.location["@coord_x"])+0.5*r)*ratio+' '+(+(item.location["@coord_y"])-0.5*r)*ratio+' L '+(+(item.location["@coord_x"])+0.5*r)*ratio+' '+(+(item.location["@coord_y"])+0.5*r)*ratio+' L '+(+(item.location["@coord_x"])-0.5*r)*ratio+' '+(+(item.location["@coord_y"])+0.5*r)*ratio+'z','stroke':'#87cefa','fill':'#87cefa','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                       tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
                case "Dead Ball" :
                     config = {type:'circle',attrs:{'cx':item.location["@coord_x"]*ratio,'cy':item.location["@coord_y"]*ratio,'r':r*ratio,'stroke':'#ccc','fill':'#fff','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
                case "Defensive Rebound" :
                     config = {type:'path',attrs:{'d':'M '+(+(item.location["@coord_x"])-0.866*r)*ratio+' '+(+(item.location["@coord_y"])+0.500*r)*ratio+' L '+(+(item.location["@coord_x"])+0.866*r)*ratio+' '+(+(item.location["@coord_y"])+0.500*r)*ratio+' L '+(+(item.location["@coord_x"])*ratio)+' '+(+(item.location["@coord_y"])-r)*ratio+'z','stroke':'#32cd32','fill':'#32cd32','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
                case "Offensive Rebound" :
                    config = {type:'path',attrs:{'d':'M '+(+(item.location["@coord_x"])-0.866*r)*ratio+' '+(+(item.location["@coord_y"])+0.500*r)*ratio+' L '+(+(item.location["@coord_x"])+0.866*r)*ratio+' '+(+(item.location["@coord_y"])+0.500*r)*ratio+' L '+(+(item.location["@coord_x"])*ratio)+' '+(+(item.location["@coord_y"])-r)*ratio+'z','stroke':'#ff6347','fill':'#ff6347','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
                case "Made Shot" :
                     config = {type:'circle',attrs:{'cx':item.location["@coord_x"]*ratio,'cy':item.location["@coord_y"]*ratio,'r':r*ratio,'stroke':'#ffa500','fill':'#ffa500','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
                case "Missed Shot" :
                    config = {type:'circle',attrs:{'cx':item.location["@coord_x"]*ratio,'cy':item.location["@coord_y"]*ratio,'r':r*ratio,'stroke':'#1e90ff','fill':'#fff','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;

                case "Foul" :
                    config = {type:'path',attrs:{'d':'M '+(+(item.location["@coord_x"])-0.5*r)*ratio+' '+(+(item.location["@coord_y"])-0.5*r)*ratio+' L '+(+(item.location["@coord_x"])+0.5*r)*ratio+' '+(+(item.location["@coord_y"])+0.5*r)*ratio+'M '+(+(item.location["@coord_x"])+0.5*r)*ratio+' '+(+(item.location["@coord_y"])-0.5*r)*ratio+' L '+(+(item.location["@coord_x"]) -0.5*r)*ratio+' '+(+(item.location["@coord_y"])+0.5*r)*ratio,'stroke':'#ff69b4','fill':'#ff69b4','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
                case "Steal" :
                     config = {type:'path',attrs:{'d':'M '+(+(item.location["@coord_x"])-0.866*r)*ratio+' '+(+(item.location["@coord_y"])-0.500*r)*ratio+' L '+(+(item.location["@coord_x"])+0.866*r)*ratio+' '+(+(item.location["@coord_y"])-0.500*r)*ratio+' L '+(+(item.location["@coord_x"])*ratio)+' '+(+(item.location["@coord_y"])+r)*ratio+'z','stroke':'#7b68ee','fill':'#7b68ee','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;

                case "Turnover" :
                    config = {type:'path',attrs:{'d':'M '+(+(item.location["@coord_x"]))*ratio+' '+(+(item.location["@coord_y"])-0.72*r)*ratio+' L '+(+(item.location["@coord_x"])+0.72*r)*ratio+' '+(+(item.location["@coord_y"]))*ratio+' L '+(+(item.location["@coord_x"]))*ratio+' '+(+(item.location["@coord_y"])+0.72*r)*ratio+' L '+(+(item.location["@coord_x"]) -0.72*r)*ratio+' '+(+(item.location["@coord_y"]))*ratio,'stroke':'#ffd700','fill':'#ffd700','stroke-width':3*ratio}};
                    court.append(config.type).attr(config.attrs).on("mouseover", function(){
                        tooltip(item);
                    }).on("mouseout", function(){
                        D3.selectAll("div.tooltip").remove();
                    });
                    break;
            }
        }

        function tooltip(item ){
            console.log(item);
            var style = "position:absolute;";
            style += 'top:'+(+item.location["@coord_y"])*ratio+'px;' + "left:" + (+item.location["@coord_x"])*ratio  + "px;";
            var text = '';
            for( key in item){
                if( key === "location" ){
                    text += key + ": {x:"+item[key]["@coord_x"]+",y:"+item[key]["@coord_y"]+"}" + "<br/>";
                }else{
                    text += key + ": " + item[key] + "<br/>";
                }
            }
            D3.select("div#chart").append("div").attr("class", "tooltip").attr("style",style)[0][0].innerHTML = text;
        }