extends layout
block links
  link(rel='stylesheet', href='public/index/stylesheets/metro.css')
block scripts
    script.
      // Set configuration
      seajs.config({

        alias: {
          'jquery': '/sea-modules/jquery/jquery/2.1.0/jquery',
          'index' : '/public/index/javascripts/index',
          'court':'/dev/components/court/src/court',
          "Zone14":'/dev/components/court/src/Zone14',
          'half_court':'/dev/components/court/src/half_court',
          'd3' : '/sea-modules/gallery/d3/3.4.3/d3'
        }
      })

      seajs.use(['court','d3','Zone14','half_court'], function(VORPED,d3,Zone14,half_court) {
        
        //- var courtObj = new VORPED.court();
        //- var court = courtObj.draw('court','');

        var halfcourtObj = new half_court.court();
        var halfcourt =  halfcourtObj.draw('court1','');
        var obj_zone = new Zone14(halfcourtObj,[],[]);
        obj_zone.draw();
        obj_zone.show(0);
        halfcourt.selectAll(".shotzone14").attr('fill','white');

        d3.select("svg").attr("style","background-color: white");
        //- console.log( bb );
      })
block content

  div#chart


block scriptsEnd
  script(type="text/javascript", src="/sea-modules/jquery/jquery/2.1.0/jquery.js")
  

  //- script(type="text/javascript", src="public/index/javascripts/metro.js")