doctype html
html
  head
    title= title
    link(rel='stylesheet', href='public/index/stylesheets/index.css')
    block links
    script(src='../sea-modules/seajs/seajs/2.2.1/sea-debug.js')
    block scripts
  body
    nav.nav
        a.title COURT VISUAL ANALYSIS
    block content
    block scriptsEnd