/* line 11, ../sass/event.sass */
.event_flow {
  border: 1px solid #ccc;
  top: 50px;
  margin: 10px;
  position: relative;
  padding: 10px auto;
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
/* line 19, ../sass/event.sass */
.event_flow .left {
  position: relative;
  border: 1px solid red;
  float: left;
  width: 40%;
  height: 680px;
  top: 50px;
  margin: 10px;
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
/* line 28, ../sass/event.sass */
.event_flow .right {
  position: relative;
  border: 1px solid green;
  width: 56%;
  justify-content: center;
  margin: 10px;
  float: right;
  height: 680px;
}
/* line 36, ../sass/event.sass */
.event_flow .right .north {
  position: relative;
  height: 64%;
  border: 1px solid yellow;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../sass/event.sass */
.event_flow .right .south {
  position: relative;
  border: 1px solid blue;
  height: 35%;
  justify-content: center;
  overflow: hidden;
  *zoom: 1;
}
